<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link rel='stylesheet' href="css/style.css">

</head>
<body>
    <div class="main-content">

            {{>header}}
    <p>I practice Node.js by creating this application.</p>
    <br>
    <p>This site accesses darksky API via browser, so search weather of wherever you want to know.</p>
    </div>

    {{>footer}}
</body>
</html>