<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELP</title>
    <link rel='stylesheet' href="css/style.css">

</head>
<body>
    <div class="main-content">
        {{>header}}
    <p>Ask anything to <span><a href="https://www.instagram.com/ryo_onepiece/">@ryooftennis(Instagram)</a></span></p>
    <img src="https://scontent-nrt1-1.cdninstagram.com/vp/011c4cc138a78d601e9b791fc8c1aae3/5D43AED9/t51.2885-19/s150x150/21827653_1085635234904386_2999064414553899008_n.jpg?_nc_ht=scontent-nrt1-1.cdninstagram.com" alt="profile image">

    </div>

    

    {{>footer}}
</body>
</html>