body {
    color: #333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    color: #888;
    border-top: 1px solid #eee;
    margin-top:16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

#title {
  position: relative;
  padding: 0.2em 0.5em;
  background: -webkit-linear-gradient(to right, rgb(106, 133, 252), #94ddff);
  background: linear-gradient(to right, rgb(106, 133, 252), #94ddff);
  color: white;
  font-weight: lighter;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.56);
}

.headBlock {
    width: 80%
}

header a {
    color: #888;
    margin-right: 16px;
    text-decoration: none;
    border-bottom: 1px solid #94ddff;
    font-size: 20px;

}

header a:hover {
    color: rgb(58, 158, 224);
    text-decoration: underline;
}

img {
    border-radius: 50%;
}

.main-content {
    flex-grow: 1;
}

input {
    border: 1px solid #ccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888;
    background:  #888;
    color: white;
    padding: 8px;
}

button:hover {
    background:  #9f94ff;
}

p {
    font-size: 25px;
}